main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
}

.rating label { font-size: 1.5rem; }

input[type="submit"] {
    width: auto;
    padding: 0.75rem 1.5rem;
}

@media (min-width: 1024px) {
    main {
        max-width: 700px;
    }
}
