body {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #fff;
  color: #1E1E1E;
}

h1, h2 {
  font-family: Montserrat, sans-serif;
  color: #FFD700;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}