main {
  display: flex;
  justify-content: center;
}

form {
  max-width: 600px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.stars {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}
