@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;400&display=swap');

:root {
    --main-bg: lightyellow;
    --header-bg: lightpink;
    --nav-bg: lightgray;
    --font-main: 'Montserrat', sans-serif;
    --font-title: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-main);
}

header, main, footer {
    max-width: 1280px;
    margin: auto;
    width: 100%;
}

header {
    background: var(--header-bg);
}

h1 {
    font-family: var(--font-title);
    font-weight: 900;
    text-align: center;
    background-color: var(--header-bg);
    margin-bottom: 10px;
    padding: 1rem;
}

h2 {
    font-family: var(--font-title);
    font-weight: 400;
    text-align: center;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 13px gray;
}

p {
    margin: 0;
    padding: 10px;
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.container {
    display: flex;
    width: 100%;
    font-family: var(--font-main);
    height: 60vh;  
    border-radius: 30px; 
}

.card img {
    width: 100px;
    float: right;
    margin: 0 0 1rem 1rem;
}

.card {
    display: flex;
    background-color: var(--main-bg);
    flex: 1;
    height: 65vh;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 30px;
    margin: 10px;
    padding: 1rem;
}

.card2 {
    display: flex;
    background-color: var(--main-bg);
    text-align: left;
    flex-direction: column;
    flex: 1;
    height: 65vh;
    border: 1px solid #000;
    border-radius: 30px;
    margin: 10px;
    padding: 1rem;
}

.resources {
    align-items: center;
    padding: 2rem;
}

.about {
    display: flex;
    align-items: center;
}

.country {
    display: flex;
    align-items: center;
}

.countryimage {
    width: 350px;
}

nav {
    display: flex;
    background: var(--nav-bg);
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav a {
    display: flex;
    padding: 20px;
    font-family: var(--font-main);
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}

nav a:hover {
    background-color: #fcf7de;
    color: #484029;
}

footer {
    display: flex;
    background-color: lightgrey;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    margin-top: auto;
    position: relative;
}